body,
html {
    margin: 0;
    padding: 0;

    --blue-sapphire: #05668dff;
    --metallic-seaweed: #028090ff;
    --persian-green: #00a896ff;
    --mountain-meadow: #02c39aff;
    --pale-spring-bud: #f0f3bdff;

    --modal-background: rgba(241, 239, 239);

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    display: grid;
    grid-template-areas:
        "sidebar header"
        "sidebar dashboard";
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
}

.sidebar {
    min-height: 100vh;
    grid-area: sidebar;

    display: grid;
    grid-template-rows: repeat(3, auto) 1fr;
    gap: 10px;
    padding: 15px;

    background-color: var(--mountain-meadow);
}

button {
    background-color: var(--metallic-seaweed);
    color: var(--pale-spring-bud);
    border: none;
    border-radius: 15px;
    padding: 8px 15px;
}

button:hover {
    background-color: var(--pale-spring-bud);
    color: var(--metallic-seaweed);
    cursor: pointer;
}

button.cancel {
    background-color: var(--modal-background);
    border: 1px solid var(--metallic-seaweed);
    color: var(--metallic-seaweed)
}

button:active {
    box-shadow: 0px 4px 8px rgba(darken(dodgerblue, 30%));
    transform: scale(.98);
}

.books-dashboard {
    grid-area: dashboard;
    padding: 15px;

    background-color: var(--pale-spring-bud);
}

.books-container {
    display: grid;
    padding: 10px;
    gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.card {
    padding: 10px;
    border-radius: 5px;
    background-color: var(--mountain-meadow);
    display: grid;
    grid-template-columns: 1fr auto;
}

.card.selected {
    background-color: var(--metallic-seaweed);
}

.card .controls {
    display: grid;
    gap: 8px;
}

/* Add book modal */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.grid-2c {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 15px;
}

.modal-content {
    background-color: var(--modal-background);
    margin: 15% auto;
    border-radius: 20px;

    padding: 20px;
    width: 80%;
    max-width: 500px;
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 8px;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
    margin-bottom: 5px;
}

input {
    border: 2px solid lightblue;
    background-color: rgba(241, 239, 239, 0);
    border-radius: 6px;
}

input:focus {
    outline: none;
    border: 2px solid lightblue;
}


input:invalid:not(:placeholder-shown) {
    border: 2px solid tomato;
}


/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-top: -18px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}